-e git+https://github.com/matiasmm/data-science-from-scratch.git#egg=data-science-from-scratch
bs4==0.0.1
gensim==0.13.1
matplotlib==1.5.1
numpy==1.11.1
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
wheel==0.26.0
pydot==1.4.1
